{% extends "base.html" %}
{% block content %}

<h2 class="text-center vintage-title mb-5">Biblioteca de Vinilos</h2>

<div class="row text-center">

    <div class="col-md-4 mb-4 fade-in" style="animation-delay: 0.2s;">
        <div class="card p-3">
            <img src="static/img/descarga.jpg" class="img-fluid mb-3">
            <h5>La nube en el jardin</h5>
            <p>Ed Maverick</p>
        </div>
    </div>

    <div class="col-md-4 mb-4 fade-in" style="animation-delay: 0.4s;">
        <div class="card p-3">
            <img src="static/img/tay.jpg" class="img-fluid mb-3">
            <h5>Folklore</h5>
            <p>Taylor Swift</p>
        </div>
    </div>

    <div class="col-md-4 mb-4 fade-in" style="animation-delay: 0.6s;">
        <div class="card p-3">
            <img src="/static/img/cai.jpg" class="img-fluid mb-3">
            <h5>Caifanes</h5>
            <p>Caifanes</p>
        </div>
    </div>

</div>

{% endblock %}
