{% extends "base.html" %}
{% block content %}

<div class="container-fluid hero-section">
  <div class="row align-items-center min-vh-100 px-5">
    <div class="col-md-6">
      <h1 class="display-4 vintage-title">Analog Soul</h1>
      <p class="lead">
        Vinilos restaurados, digitalizados  
        y preservados como ritual sonoro.
      </p>
      <a href="/biblioteca" class="btn btn-outline-warning btn-lg mt-4">
        Explorar colección
      </a>
    </div>

    <div class="col-md-6 text-center">
      <div class="plato"></div>
    </div>
  </div>
</div>

{% endblock %}