{% extends "base.html" %}
{% block content %}

<div class="container my-5 text-center">
  <h2 class="vintage-title mb-4">Planes</h2>

  <div class="row justify-content-center g-4">
    <div class="col-md-4">
      <div class="card bg-dark text-light album-card p-4">
        <h4>Básico</h4>
        <p>$99 MXN / mes</p>
        <button class="btn btn-outline-warning">Elegir</button>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card bg-dark text-light album-card p-4">
        <h4>Premium</h4>
        <p>$199 MXN / mes</p>
        <button class="btn btn-outline-warning">Elegir</button>
      </div>
    </div>
  </div>
</div>

{% endblock %}